.taskDetails {
  display: flex;
  max-height: 100%;

  .taskList {
    display: grid;
    max-width: 200px;
    width: 200px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
    font-weight: bold;
    max-height: 570px;
    overflow-y: auto;
  }

  .taskItem {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;

    &:hover {
      background-color: #e0e0e0; // Цвет при наведении

    }
  }

  .taskItemActive {
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }

}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  .formGroup {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .datePicker, .select {
    flex: 1;
    width: 100%;
  }

  .select .ant-select-selector {
    border-radius: 4px;
  }
}