.topBar {
  display: flex;
  justify-content: right;
  align-items: center;

  .notifications {
    display: flex;
    align-items: center;
    color: #4a5568;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: #3b82f6;
      background-color: #e5e7eb;
    }
  }
}


.userInfo {
  display: flex;
  align-items: center;
  color: #4a5568;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  justify-content: center;

  img {
    width: 2rem;
    height: 2rem;
    border-radius: 9999px;
    margin-right: 0.5rem;
  }

  &:hover {
    color: #3b82f6;
    background-color: #e5e7eb;
  }
}

.lowerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 1.25rem;


  .title {
    font-size: 1.875rem;
    font-weight: 700;
    color: #2d3748;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;


    .searchInput {
      position: relative;

      input {
        border-radius: 0.5rem;
        padding: 0.5rem 2.5rem 0.5rem 0.625rem;
        transition: border-color 0.2s;
        border: 1px grey solid;
        outline: none;

        &:focus {
          border-color: #3b82f6;
          box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
        }
      }

    }
  }

}


